<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @directory.title %>
</p>

<p>
  <b>Description:</b>
  <%= @directory.description %>
</p>


<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
