<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label "문항 정렬 번호" %>
	  <%= f.number_field :display_no %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :qtype %><br />
    <%= f.select :qtype, [['객관식', 0], ['리커트척도', 1], ['단답형', 2], ['문장형', 3], ['디렉토리형', 4]], :selected => @question.qtype %>
  </div>
  <div class="field">
    <%= f.label :type_param %><br />
    <%= f.text_field :type_param %>
  </div>  
  <%= f.hidden_field :survey_id, :value => @survey.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
