<h3><%=link_to @survey.title, @survey%>설문지에 포함된 질문들</h3>

	<% if @questions.empty? %>
	  <p> 질문이 없어요. <%=link_to '추가할까요?', new_survey_question_path(@survey) %> </p>
	<% else %>
		<% @questions.each do |question| %>
		  <%= question.display_no %>.<%=link_to question.title, survey_question_path(@survey, question) %> <br />
		<% end %>
		
		<br />
		<%= link_to '새 질문', new_survey_question_path(@survey) %>
	<% end %>