<h1>Question</h1> 
<h3><%= @question.display_no %>.<%= @question.title %></h3>
<p>설명: <%= @question.description if @question.description %></p>

<ol>
<% @examples.each do |example| %>
  <li><%=link_to example.title, question_example_path(@question, example) %></li>
<% end %>
</ol>

<br />
	
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              survey_path(@question.survey), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn' if user_signed_in? and current_user == @question.user %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              survey_path,
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' if user_signed_in? and current_user == @question.user %>
	<%= link_to 'Add Question', new_survey_question_path(@survey), class: 'btn' if user_signed_in? and current_user == @question.user %>
	<%= link_to 'Add Example', new_question_example_path(@question), class: 'btn' if user_signed_in? and current_user == @question.user %>
</div>