<h1><%= @survey.title %></h1>
<p>설문지 개요: <%= @survey.description if @survey.description %></p>
<p> <%= @survey.days if @survey.days %>일 동안, 매일 <%= @survey.repeatTime if @survey.repeatTime %>회 반복
	
<%= link_to "Export to csv", request.parameters.merge({:format => :csv})%>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<th>ID</th>
			<% (1..@survey.questions.count).each do |q| %>
				<th>Q <%=q%></th>
			<% end %>
		</tr>
	
		<% @grid.each_with_index do |x, xi| %>
			<% x.each_with_index do |y, yi| %>
		<tr>
			<td><%= @join_projects[xi].user.name %> <%= yi / @survey.repeatTime + 1 %>-<%= yi % @survey.repeatTime + 1 %></td>
				<% if y %>
					<% y.each do |a| %>
					<td><%=a.user_answer%></td>
					<% end %>
				<% else %>
					<td colspan=<%=@survey.questions.count%> >N/A</td>
				<% end %>
		</tr>
			<% end %>
		<% end %>
	</table>