<h1>질문</h1>
<p>질문 명: <%= @question.title %></p>
<p>질문 부연 설명: <%= @question.description if @question.description %></p>
	

<% if user_signed_in? and current_user == @question.user %>
<%= link_to 'Edit', edit_survey_question_path(@survey, @question) %> |
<%= link_to 'Destroy', @question, confirm: 'Are you sure?', method: :delete %> |
<% end %>
<%= link_to 'Back', survey_questions_path(@survey) %> 
