<%- model_class = @project.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %> "<%= @project.title %>"</h1>

<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong>
  <%= simple_format(@project.description) %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:owner) %>:</strong>
  <%= @project.user.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:start_date) %>:</strong>
  <%= @project.start_date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:end_date) %>:</strong>
  <%= @project.end_date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:max_attends_number) %>:</strong>
  <%= @project.max_attends_number %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:point) %>:</strong>
  <%= @project.point %>
</p>

<p>
	<strong><%= model_class.human_attribute_name(:surveys) %>:</strong><br/>
	<% @surveys.each do |survey| %>
	  <li><%=link_to survey.title, project_survey_path(@project, survey) %></li>
	<% end %>
</p>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
	<%= link_to '설문지 추가', new_project_survey_path(@project), :class => 'btn' %>
</div>

<% @members.each do |member| %>
<%= member.user.id %> 
<%= member.user.name %> 
<%= member.user.email %>
[<%= member.workflow_state %>]
<% if member.workflow_state != 'accepted' %>
	<%= link_to '승인', {:controller => 'join_projects', :action => 'event', :id => member, :event => 'accept'}, :remote => true, :method => :put %>
<% end %>
<% if member.workflow_state == 'accepted' %>
	<%= link_to '거절', {:controller => 'join_projects', :action => 'event', :id => member, :event => 'reject'}, :remote => true, :method => :put %>

	<%= link_to '스캐줄초기화', {:controller => 'join_projects', :action => 'event', :id => member, :event => 'reset_schedule'}, :remote => true, :method => :put %>
<% end %>

<br/>
<% end %>

