<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, :value => @project.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label "설문 제목" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "설문에 대한 간단한 요약" %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
	  <%= f.label "몇 일간 설문" %><br />
	  <%= f.number_field :days %>
  </div>	  

  <div class="field">
	  <%= f.label "하루에 몇 번 설문" %><br />
	  <%= f.number_field :repeatTime %>
  </div>

  <div class="field">
	  <%= f.label "시작시간" %><br />
	  <%= f.text_field :begin_at %>
  </div>

  <div class="field">
	  <%= f.label "종료시간" %><br />
	  <%= f.text_field :end_at %>
  </div>

  <div class="field">
	  <%= f.label "회차간 최소 간격(분)" %><br />
	  <%= f.number_field :interval_min %>
  </div>

  <div class="field">
	  <%= f.label "회차간 최대 간격(분)" %><br />
	  <%= f.number_field :interval_max %>
  </div>

  <div class="actions">
	  <%= f.submit %>
  </div>
<% end %>
