<h3>Surveys of "<%=link_to @project.title, @project%>"</h3>

	<% if @surveys.empty? %>
	  <p> 설문지가 없어요. <%=link_to '추가할까요?', new_project_survey_path(@project) %> </p>
	<% else %>
		<% @surveys.each do |survey| %>
		  <li><%=link_to survey.title, project_survey_path(@project, survey) %></li>
		<% end %>
		
		<br />
		<%= link_to '새 설문지', new_project_survey_path(@project) %>
	<% end %>