<h1><%= @survey.title %></h1>
<p>설문지 개요: <%= @survey.description if @survey.description %></p>
<p> <%= @survey.days if @survey.days %>일 동안, 매일 <%= @survey.repeatTime if @survey.repeatTime %>회 반복
<ol>	
<% @questions.each do |question| %>
  <li><%=link_to question.title, survey_question_path(@survey, question) %></li>
		<ol type='a'>
	<% question.examples.each do |example| %>
		<li><%=link_to example.title, question_example_path(question, example)%></li>
	<% end %>
		</ol>
<% end %>
</ol>

<% if user_signed_in? and current_user == @project.user %>
<%= link_to 'Edit', edit_project_survey_path(@project, @survey) %> |
<%= link_to 'Destroy', @survey, confirm: 'Are you sure?', method: :delete %> |
<%= link_to '문제추가', new_survey_question_path(@survey) %> |
<% end %>
<%= link_to 'Back', project_surveys_path(@project) %> 
