<%- model_class = Example.new.class -%>
<h3>Examples of "<%=link_to @question.title, @question%>"</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:order) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:owner) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= link_to example.id %></td>
				<td><%= link_to example.display_no if example.display_no%></td>
        <td><%= link_to example.title, question_example_path(@question, example) %></td>
        <td><%= example.user.name %></td>
        <td><%= example.updated_at.localtime %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_example_path(example), :class => 'btn btn-mini' if current_user == example.user %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      question_path(@question),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' if current_user == example.user%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Example', new_question_example_path(@question) , :class => 'btn btn-mini'%>
<%= link_to 'Back to Question', question_path(@question) , :class => 'btn btn-mini'%>
