<h1>질문</h1>
<p>보기 명: <%= @example.title %></p>

<div class="form-actions">
	<% if user_signed_in? and current_user == @example.user %>
	<%= link_to 'Edit', edit_question_example_path(@question, @example), :class => 'btn btn-mini' %>
	<%= link_to 'Destroy', @example, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini' %>
	<% end %>
	<%= link_to 'Back', question_examples_path(@question) , :class => 'btn btn-mini'%>
</div>