<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.description %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
	<td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class=>'delete_post' %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
