<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esm Rails</title>
	  <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	  <![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
	<body>
		<header class="navbar navbar-fixed-top">
      <nav>
        <ul class="hmenu">
          <%= render 'shared/navigation' %>
        </ul>
      </nav>
    </header>
		<div class="container">
		  <% flash.each do |name, msg| %>
		    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		         <a class="close" data-dismiss="alert">
		      <%= msg  %>
		    </div>
		  <% end %>
			<div class="navbar navbar-fixed-top">
			  <div class="navbar-inner">
			    <div class="container">
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			      <a class="brand" href="/">ESM Client</a>
			      <div class="nav-collapse">
			        <ul class="nav">
								<%= render 'shared/navigation' %>
			          <!-- <li><%= link_to "Browse Products" %></li>
			          <li><%= link_to "Price List" %></li>
			          <li><%= link_to "Contact Us" %></li>
			          <li><%= link_to "Cart" %></li> -->
			        </ul>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="row">
				<div class="span12"><%= yield %></div>
			</div>
		</div>
  <!-- <body class="<%= params[:controller] %>">
    <div id="container" class="container">
      <header>
        <nav>
          <ul class="hmenu">
            <%= render 'shared/navigation' %>
          </ul>
        </nav>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_\#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> -->
  </body>
</html>
